<footer id="footer" class="{{class}}">
  <div class="container">
    <div class="row align-items-center text-muted">
      <div class="col-lg-4 text-center order-lg-2"><a href="index.html" class="navbar-brand"><img
            src="{{root}}{{logo}}" alt="Logo"></a></div>
      <div class="col-lg-4 text-center order-lg-1">
        <p class="eyebrow">&copy; 2021</p>
      </div>
      <div class="col-lg-4 text-center text-lg-end order-lg-3">
        <a href="/impressum.html" class="eyebrow underline text-white">Impressum</a>
        <a href="/datenschutz.html" class="eyebrow underline text-white">Datenschutz</a>
      </div>
    </div>
  </div>
</footer>